#page-login {
    width: 100vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navbar {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; 
}
.navbar .title {
    display: flex;
    width: 100vw;
    padding: 8px 0 2px 20px;
    flex-direction: column;
    align-items: stretch;
    font-size: 2em;
    color: var(--color-title-in-primary);
    background-color: var(--color-primary-dark);
    border-bottom: 5px solid;
    border-color: var(--color-primary-darker);
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.input {
    display: flex;
    flex-direction: row;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/background-photo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #dbdbdb;
}

.content {
    background-color:  var(--color-box-base);
    padding: 10px 15px;
    box-shadow: 0px 0px 11px rgb(124, 124, 124);
    border-radius: 5px;
}

.footer {    
    display: flex;
    width: 100vw;
    padding: 5px;
    background-color: var(--color-box-footer);
    color: var(--color-text-footer);
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 15px;
}

.btn button {
    padding: 5px 0;
    border-radius: 8px;
    background-color: var(--color-button-background);
    font-weight: bold;
    color: var(--color-button-text);
}

.icon {
    display:flex;
    justify-items: center;
    align-items: center;
    border: 1px groove;
    border-left: 0;
    padding: 0 3px;
    background-color: var(--color-button-background);
    color: var(--color-button-text);
}

.iconCancel {
    color: var(--color-icon-cancel);
}