#page-login {
    width: 100vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#page-login .navbar {   
    display: flex;
    padding: 5px 15px;
    width: 100vw;
    background-color: var(--color-primary-dark);
    justify-content: left;
    border-bottom: 5px solid;
    border-color: var(--color-primary-darker);
}

#page-login .navbar .logo {
    display: flex;
    font: 500 3rem Poppins;
    color: var(--color-title-in-primary);
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/background-photo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #dbdbdb;
}

#page-login .content {
    background-color:  var(--color-box-base);
    padding: 10px 15px;
    box-shadow: 0px 0px 11px rgb(124, 124, 124);
    border-radius: 5px;
}

#page-login .content .field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

#page-login .content .field .input {
    display: flex;
    flex-direction: row;
}

#page-login .content .field .icon {
    display:flex;
    justify-items: center;
    align-items: center;
    border: 1px groove;
    border-left: 0;
    padding: 0 3px;
    background-color: var(--color-button-background);
    color: var(--color-button-text);
}

#page-login .content .field .iconCancel {
    color: var(--color-icon-cancel);
}

#page-login .content .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 15px;
}

#page-login .content .btn button {
    padding: 5px 0;
    border-radius: 8px;
    background-color: var(--color-button-background);
    font-weight: bold;
    color: var(--color-button-text);
}
    
#page-login .footer {    
    display: flex;
    width: 100vw;
    padding: 5px;
    background-color: var(--color-box-footer);
    color: var(--color-text-footer);
}