#navbar {   
    display: flex;
    padding: 5px 15px;
    width: 100%;
    height: 4.5rem;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    background-color: var(--color-primary-dark);
    border-color: var(--color-primary-darker);
}
#navbar .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--color-title-in-primary);
}