:root {
    font-size: 60%;

    --color-background: #9a9a9c;
    --color-primary-lighter: #9871F5;
    --color-prymari-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #665e92;
    --color-primary-darker: #e8e6ff;
    --color-secundary: #04D361;
    --color-secundary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-title-in-content: #978399;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-button-background: #665e92;
    --color-box-base: #e8e6ff;
    --color-box-footer: #635c8585;
    --color-text-footer: #c4c4c4;
    --color-box-footer-dark: #7c75a3;
    --color-text-footer-dark: #ddd6d6;
    --color-icon-cancel: #f55757;
    --color-toasty-background-basic: #fff;

    --color-sidebar-background-logo: #665e92;
    --color-sidebar-background: #877fb4;
    --color-sidebar-background-subitem: #7970ac;
    --color-sidebar-icon:#b2b2da;

    --color-h2-background: #a094bd;
    --color-h2-text: #cec8dd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {    
    background: var(--color-box-footer-dark);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

.container {
    width: 100vw;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 72.5%;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}