:root {
    font-size: 60%;

    --color-background: #9a9a9c;
    --color-primary-lighter: #9871F5;
    --color-prymari-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #c8c1e7;
    --color-primary-darker: #e8e6ff;
    --color-secundary: #04D361;
    --color-secundary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-button-background: #ada3da;
    --color-box-base: #e8e6ff;
    --color-box-footer: #B1AAD345;
    --color-text-footer: #c4c4c4;
    --color-icon-cancel: #d14848;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    background: var(--color-background);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea {
    font: 500 1.6rem Poppins;   
    background-color: var(--color-input-background);
    border: 1px groove;
}

a {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 72.5%;
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 82.5%;
    }
}